html, body {
  height: 100%;
  overflow: hidden;
}

body {
    background: url(/static/heart.jpg) no-repeat center center fixed;
    padding-bottom: 10px;
    background-size: cover;
    color: #000;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    }

h1 {
    color: rgb(252,250,238);
    font-family: 'Lobster Two', cursive;
    font-size:40px;
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
}

.btn {
    font-family: 'Gafata', sans-serif;
}

.title-div {
    background: blue;
    height: 400px;
    width: 100%;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: rgb(251,251,243);
}

.navbar-brand{
        font-size: 30px;
        color: rgb(251,251,243) !important;
}