[name="activity-choice"] {
    margin-right: 7px; 
}

.jumbotron {
    padding: 32px;
}

.has-margin {
    margin-bottom: 5px;
}

.chart-column {
    padding-left: 40px;
    padding-right: 40px;
}

a {
    color: #4681b3;
}

.date-planned {
    display: block;
    width: 100%;
}

/*#signin {

}

.type-and-time {}*/


.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    padding-left: 33px;
    padding-right: 45px;
    background: transparent;
    border: none;
    border-radius: 0;
    color: #FFF;
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #E1B735;
}

h1, h2, h3, h4 {
    font-family: 'Lobster Two', cursive;
}

body {
    font-family: 'Gafata', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

  .btn {
    font-family: 'Gafata', sans-serif;
}

.custom-select {
    font-family: 'Gafata', sans-serif;
}
