[name="activity-choice"] {
    margin-right: 7px; 
}

[name="choose-now"] {
    margin-right: 5px;
}

.jumbotron {
    padding: 32px;
}

.has-margin {
    margin-bottom: 5px;
}

.chart-column {
    padding-left: 40px;
    padding-right: 40px;
}

a {
    color: #4681b3;
}

.date-planned {
    display: block;
    width: 100%;
}

#sign-in {
    padding-top: 130px;
}

#create-account {
    padding-top: 90px;
}

.navbar, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
    padding-left: 33px;
    padding-right: 45px;
    background: transparent;
    border: none;
    border-radius: 0;
    color: rgb(252,250,238);
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: #E1B735;
}

h1, h2, h3, h4 {
    font-family: 'Lobster Two', cursive;
}

body {
    font-family: 'Gafata', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.btn {
    font-family: 'Gafata', sans-serif;
}

.custom-select {
    font-family: 'Gafata', sans-serif;
    font-size: 1rem;
    margin-left: 7px;
}

#create-activities {
    padding-top: 20px;
}

.record-page-header {
    padding-top: 50px;
    padding-bottom: 5px;
}

#planned-time {
    width: 203px;
    display: inline-block;
    margin-left: 5px;
}

#end-time {
   width: 203px; 
   display: inline-block;
   margin-left: 5px;
}

#planned-date {
   width: 203px; 
   display: inline-block;
   margin-left: 5px;
}

#end-date {
   width: 203px; 
   display: inline-block;
   margin-left: 5px;
}

