
{% extends "base.html" %}
{% block title %}DoBeDo{% endblock %}
{% block head %}
<link href="static/landing.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
        <div class="row">
                <div class="col-md-4 offset-md-4">
                    <h1 align="center">know what you love</h1>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 offset-md-4">
                <h1 align="center">do more of it</h1>
        </div>
    </div>
{% endblock %}