{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>{% endblock %}
{% block content %}
    <h1>Plan an Activity</h1>
    <p>
    <!-- Dropdown is populated by results of query for user's activity types -->
    Pick an activity to begin tracking: 
    <form action="/plan_activity" method="POST">
        <select name="activity-choice">
            {% for activity in activities %}
            <option value="{{ activity.activity_id }}">{{ activity.activity_type }}</option>
            {% endfor %}
        </select> <input type="submit" value="Begin">
    </form>
    </p>
    <h2>Planned Activities</h2>
    <ul>
        {% for occurrence in planned_occurrences %}
        <li><a href="/record_after/{{ occurrence.occurrence_id }}">{{ occurrence.start_time.strftime("%m/%d/%Y %l:%M %p") }}</a></li>
        {% endfor %}
    </ul>
    <h2>Results</h2>

<!--This is an artifact from my MVP - meant as a placeholder, standing in for data viz.
    <div>
        <table border="1px">
            <th>Start Time</th>
            <th>Before</th>
            <th>After</th>
            <th>Activity</th>
            {% for occurrence in completed_occurrences %}
            <tr>
                <td>{{ occurrence.start_time.strftime("%m/%d/%Y %l:%M %p") }}</td>
                <td>{{ occurrence.before_rating }}</td>
                <td>{{ occurrence.after_rating }}</td>
                <td>{{ occurrence.activity.activity_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div> -->

{% for activity in used_activities %}
    <div>
        <center><h3>{{ activity.activity_type|title }}</h3></center>
    <canvas id="{{ activity.activity_id }}" width="200" height="100" class="chart-canvas"></canvas>
    </div>
{% endfor %}

<script>

var canvases = $('.chart-canvas');

for (var canvas of canvases) {
    $.get("/chart/" + canvas.id + ".json", makeChart);
}

var options = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{ ticks: { max: 10, beginAtZero: true }}]
        }
    };

function makeChart(results) {
    var beforeRatings = results.before;
    var afterRatings = results.after;
    var startTimes = results.starts;
    var activityId = results.activityId;
    var ctx = $('#' + activityId);
    var chart_1 = new Chart(ctx, {
        type: 'line',
        options: options,
        data: {
                labels: startTimes,
                datasets: [
                    {
                        type: 'line',
                        label: "How You Felt Beforehand", 
                        data: beforeRatings,
                        backgroundColor: "rgba(153,255,51,0.4)",
                    },
                    {   type: 'line',
                        label: "How You Felt Afterward",
                        data: afterRatings,
                        backgroundColor: "rgba(255,153,0,0.4)"
                    }
                ]
            }
        });
};
</script>

{% endblock %}