{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Plan an Activity</h1>
    <p>
    <!-- Dropdown is populated by results of query for user's activity types -->
    Pick an activity to begin tracking: 
    <form action="/plan_activity" method="POST">
        <select name="activity-choice">
            {% for activity in activities %}
            <option value="{{ activity.activity_id }}">{{ activity.activity_type }}</option>
            {% endfor %}
        </select> <input type="submit" value="Begin">
    </form>
    </p>
    <h2>Planned Activities</h2>
    <ul>
        {% for occurrence in planned_occurrences %}
        <li><a href="/record_after/{{ occurrence.occurrence_id }}">{{ occurrence.start_time.strftime("%m/%d/%Y %l:%M %p") }}</a></li>
        {% endfor %}
    </ul>
    <div><h2>Results</h2>
        <table border="1px">
            <th>Start Time</th>
            <th>Before</th>
            <th>After</th>
            <th>Activity</th>
            {% for occurrence in completed_occurrences %}
            <tr>
                <td>{{ occurrence.start_time.strftime("%m/%d/%Y %l:%M %p") }}</td>
                <td>{{ occurrence.before_rating }}</td>
                <td>{{ occurrence.after_rating }}</td>
                <td>{{ occurrence.activity.activity_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}