<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
</head>
<body>

    <h1>Plan an Activity</h1>
    <p>
    Pick an activity to begin tracking:<input type= dropdown...>
    <!-- Dropdown is populated by resuts of query for user's activity types -->
    </p>
    <div><h2>Planned Activities</h2>
        <!-- Loop through occurrences without end times -->
    </div>

    <div><h2>Results</h2>
        <!-- For now, this is a table showing before_rating and after_rating for
        all occurrences with start and end times and a rating for before and after -->
    </div>

</body>
</html>