{% extends "base.html" %}
{% block title %}Update your profile{% endblock %}
{% block content %}
    <div id="root"></div>
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/19.2.4/cjs/react.development.js" 
    integrity="sha512-yZ6u0esCM/14Ue6HS2bq7CGADLdIPLQMi50ekhLd2krXXbVx6KSs7P5KklnYaBZQfEIKdHJ8SiRuVE9lWbr/tg==" 
    crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/19.2.4/cjs/react-dom-client.development.js" 
    integrity="sha512-HuBEf/bAsWlppUC3bcfksSNol2Djr+k5l3gzPudp9cgQu4bHqxtG6dWFj35zDX6eQsCWB4q9XpWXXo7f/rd8+w=="
    crossorigin="anonymous">
</script>
<script src="">
    function UpdateProfileForm() {
        const [formData, setFormData] = React.useState([
            user_handle: '',
            password: '',
            email: '',
            phone_number: '',
            // timezone (probably a dropdown)
        ])

        const handleChange = (event) => {
            const { name, value } = event.target;
            setFormData(prev => ({
                ...prev,
                [name]: value
            }));
        };
        return (
        <form onSubmit={handleSubmit}>
        </form>
        )
    }
    
    const root = ReactDOM.createRoot(document.getElementById("root"));
    root.render(<UpdateProfileForm/>)
</script>
{% endblock %}