{% extends "base.html" %}
{% block title %}Begin Your Entry{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h4><i>{{ activity_name }}</i></h4>
<p>When do you plan to start?
        </p>
    <form action="/record_before/{{ activity_id }}", method="POST">
        <button type="button" id="now" name="choose-now">Now</button> or
        <input type=text name="planned-time" id="planned-time" placeholder="e.g, 12:00 pm"> 
        <!--TODO Nice to have: pass datetime.now + 24 hrs from route for below placeholder-->
        <input type=date name="planned-date" id="planned-date" placeholder="12/31/2017">
        <!-- or other datetime dropdown or entry field for later times -->
        <br>
        <br>
        How are you feeling about it? <select name="before-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Save">
    </form>
    <script>

   function chooseNow(evt) {
        console.log('reached this function');
        $('#planned-time').val("{{ now_time }}");
        $('#planned-date').val("{{ now_date }}");
    }
    $('#now').on('click', chooseNow);
    </script>
{% endblock %}
