<!DOCTYPE html>
<html>
<head>
    <title>Finish Your Entry</title>
</head>
    <p>What time did you finish?
        <br>
        <!-- --now radio button--> or <!-- other datetime dropdown or entry field for later times -->
        <br>
        <br>
        <!--if user selected now, ask: How do you feel? and show dropdown menu with 1 - 10 -->
        <!--if user entered a time in the dropdown, ask: How did you feel when you were done? and show
        dropdown menu with 1 - 10 -->
<body>

</body>
</html>